<div class='container margin'>
  <div class='row circle'>
    <div class='col'>
      <h2>タグ一覧</h2>
      <table class='table table-striped'>
        <thead class='thead-dark'>
          <tr>
            <th>タグ名</th>
            <th>編集</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.tag_name %></td>
              <td><%= link_to '削除する', admin_tag_path(tag.id), method: :delete,"data-confirm" => "本当に消しますか?", class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>