@import '~bootstrap/scss/bootstrap';

header {
  background-color: #d4d4d4;
}

.main {
  padding: 50px 0;
  background-color: #14ffff;
}

.nav-link:hover {
  background-color: gold;
}

li {
  list-style: none;
}

footer {
  height: 70px;
  background-color: #d4d4d4;
}

.footer-p {
  line-height: 70px;
}