@import '~bootstrap/scss/bootstrap';

.error_messages {
  color: red;
}

header {
  background-color: #d4d4d4;
}

.margin-root {
  padding: 100px;
}

.image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #00e2ff;
}

.circle {
  border-radius: 30px;
  background-color: #bcffff;
  padding: 30px;
}

h2{
  padding: 30px;
}

.main {
  padding: 50px 0;

}

.nav-link:hover {
  background-color: gold;
}

li {
  list-style: none;
}

.margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

footer {
  height: 70px;
  background-color: #d4d4d4;
}

.footer-p {
  line-height: 70px;
}