<div class='text-center padding background home'>
  <h1>ようこそプログラミング勉強専用サイトへ！！</h1>
  <div class='my-5'>
    お互いに切磋琢磨しレベルの高いエンジニアを目指してみんなで知識理解を深めましょう
  </div>

  <div class='text-right'>
    <%= link_to "注意点やお願い、本サイトの目的", about_path,class: 'about-link' %><span>を読んでいただけると幸いです。</span>
  </div>
</div>