<div>
  <h6>タグ一覧</h6>
  <div>
    <% tag_lists.each do |list| %>
      <% if list.posts.published.count != 0 %>
          <div>
            <%= link_to  tag_posts_path(tag_id: list.id) do %>
              <i class="fa-solid fa-tag"></i>&nbsp;<%= "#{list.name}(#{list.posts.published.count})" %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>