<table class='table table-striped'>
  <h6>タグ一覧</h6>
  <tbody>
    <% tag_lists.each do |list| %>
      <% if list.posts.published.count != 0 %>
        <tr>
          <td>
            <%= link_to  tag_posts_path(tag_id: list.id) do %>
            <%= "#{list.name}(#{list.posts.published.count})" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>