<% tag_lists.each do |list| %>
  <% if list.posts.published.count != 0 %>
    <tr>
      <td>
        <%=link_to list.name, tag_posts_path(tag_id: list.id) %>
        <%= "(#{list.posts.published.count})" %>
      </td>
    </tr>
  <% end %>
<% end %>