<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'user/posts/index', posts: @posts %>
  </tbody>
</table>

<%= form_with url: sort_path, method: :get, local: true do |f| %>
  <%= f.select :keyword, [  ['投稿が新しい順', 'new'],
                            ['投稿が古い順', 'old'],
                            ['いいねが多い順', 'likes'],
                            ['いいねが少ない順', 'dislikes']
                          ] %>
  <%= f.submit 'タグ検索' %>
<% end %>