<div class= 'container margin'>
  <div class='row circle'>
    <div class='col-2'>
      <%= render 'user/posts/tag_lists', tag_lists: Tag.all %>
    </div>
    <div class='col-9 offset-1'>
      <h2>タグ検索投稿一覧 <%= "( #{@tag.name} ) " %></h2>
      <table class='table'>
        <thead>
          <tr>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.content, post_path(post.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>