<div class='container main-top'>
  <div class='row'>
    <div class='col-11'>
      <h2>並び替え結果</h2>
      <%= render 'user/posts/post_search' %>
      <table class='table'>
        <thead>
          <tr>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>投稿日</th>
            <th>タグ</th>
            <th>いいね数</th>
          </tr>
        </thead>
        <tbody>
          <div class='sort'>
            <%= render 'user/posts/sort', posts: @posts %>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>